.gitignore text
.gitattributes text
*.txt text
*.dox text
*.md text
*.log text

*.ps1 text eol=crlf
*.psm1 text eol=crlf

*.html text eol=lf
*.sh text eol=lf
Makefile* text eol=lf

*.exe binary
*.pdf binary
*.bin binary
*.png binary
*.jpg binary
*.docx binary
*.pptx binary
*.bin binary
*.dat binary
*.ts binary
